.logo{
    width: 320px;
    border-radius: 5em;
}
nav{
    display: flex;
    padding: 1% 4%;
    justify-content: space-between;
    align-items: center;
}
.navigation-links{
    flex: 1;
    text-align: right;
}
.navigation-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navigation-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
}
.navigation-links ul li a:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
    
}
img{
    box-shadow: 0px 0px 0px grey;
  -webkit-transition:  box-shadow .2s ease-out;
     box-shadow: .8px .9px 3px grey;
}
img:hover{
    box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .6s ease-in;
}
.navigation-links ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
@media screen and (max-width: 716px) {
    .logo{
        content: url(../img/favicon.png);
        width: 80%;
        padding-top: 1%;
    }
    .navigation-links ul li a{
        font-size: 12px;
        padding: 0px;
    }
    .navigation-links ul{
        padding-left: 0rem;
    }
    .navigation-links{
        text-align: left;
    }
    nav{
        padding: 7% 4%;
    }
    .navigation-links ul li {
        padding: 4px 10px;
    }
    .main-text{
        font-size: 11px;
    }
    div h1{
        font-size: 15px;
    }
}
@media screen and (max-width: 600px) {
    .carousel > *{
        display: none;
    }
    .title{
        font-size: 20px;
    }
    p.mainText{
        margin-right: 0px;
    }
}

div h1{
    margin-left: 5%;
    margin-top: 3%;
    font-size: 30px;
    font-style: italic;
    
}

.mainText{
    margin-left: 5%;
    margin-right: 20%;
    margin-top: 3%;
}
.carousel{
    width: 60%;
    margin-left: 10%;
    height: 30%;
    margin-top: 3%;
}
@media screen and (max-width: 400px) {
    .navigation-links ul li a{
        font-size: 8px;
        padding: 0px;
    }
}

