.logo{
    width: 320px;
    border-radius: 5em;
}
nav{
    display: flex;
    padding: 1% 4%;
    justify-content: space-between;
    align-items: center;
}
.navigation-links{
    flex: 1;
    text-align: right;
}
.navigation-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navigation-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
}
.navigation-links ul li a:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
    
}
div.card{
  -webkit-transition:  box-shadow .2s ease-out;
}
div.card:hover{ 
    box-shadow: 1px 8px 20px #0087ca;
   -webkit-transition:  box-shadow .2s ease-in;
 }

.navigation-links ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
div.row{
    margin-top: 10%;
    margin-left: 6%;
    margin-right: 6%;
}
@media screen and (max-width: 716px) {
    .logo{
        content: url(../img/favicon.png);
        width: 80%;
        padding-top: 1%;
    }
    .navigation-links ul li a{
        font-size: 12px;
        padding: 0px;
    }
    .navigation-links ul{
        padding-left: 0rem;
    }
    .navigation-links{
        text-align: left;
    }
    nav{
        padding: 7% 4%;
    }
    .navigation-links ul li {
        padding: 4px 10px;
    }
    .main-text{
        font-size: 11px;
    }
    .btn-primary{
        padding : 10px !important
        
    }

}
@media screen and (max-width: 400px ) {
    .navigation-links ul li a{
        font-size: 9px;
        padding: 0px;
    }
    .btn-primary{
        margin : 5px !important
        
    }
}
@media screen and (max-width: 690px) {
    div.col-sm-6{
        margin-top: 9%;
    }
    .btn-primary{
        margin: 5px !important;
        
    }
    

}

.search{
    text-align: center;
}

.searchLab{
    display: block;
}
#searchBar{
    width: 50%;
    border-radius: 15px;
    border: 2px #0087ca solid ;
}
.hide{
    display: none !important; 
}